<!DOCTYPE html>
<html lang="en">
<%- include('block/head') %>

<body class="page">
    <%- include('block/header') %>
    <%- include('block/face') %>
    <%- include('block/evens') %>
    <%- include('block/plus') %>
    <%- include('block/visitka') %>
    <%- include('block/why') %>
    <%- include('block/easy') %>
    <footer class="section section_footer">
        <div class="container">
            <span>Global Partners LTD</span>
        </div>
    </footer>
    <%- include('block/script') %>
</body>

</html>